
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.sub-container{
   background-color: rgb(0,0,0,0.5);
   color: rgb(240, 237, 233);

   display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
   height: 100vh;
   width: 100vw;
   /* border-radius: 10px; */

   padding: 50px;
}

.register-form, .login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    background-color: rgb(0,0,0,0.5);
    width: 50%;
    height: 50vh;

}


/* Jira Page */

.jira-container{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    height: 100vh;
    background-color: rgb(44, 42, 42,0.5);
    color: wheat;
}


.superCard{
    display: flex;
    background-color:  rgb(23, 21, 21, 0.8);
}

.jira-container .column{
    border: 2px solid greenyellow;
    min-height: 400px;
    min-width: 30%;
    background-color: rgb(23, 21, 21, 0.5);
}


